{% extends "base.html" %}

{% block content %}
<h1>Вітаю!</h1>

<p>Будь ласка, заповніть форму щоб увійти на урок</p>

{% if error %}
<div class="alert alert-danger" role="alert">
  <ul class="errorlist">
    {% if errortext %}
    <li>{{ errortext }}</li>
    {% endif %}

    {% if form.non_field_errors %}
    <li>{{ form.non_field_errors }}</li>
    {% endif %}
    {% for field in form %}
    {% if field.errors %}
    <li>
      {{ field.label }}
      <ul class="errorlist">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="mb-3">
  <form action="/?wantsurl={{ wantsurl }}" method="post" id="authform" target="_blank">{% csrf_token %}
    <label for="surname" class="form-label">Прізвище</label><br>
    <input type="text" id="surname" name="surname" value="{{form.surname.value|default_if_none:""}}" class="form-control typeahead" placeholder="Шевченко" {% if disable %}readonly{% endif %}><br>
    <label for="name" class="form-label">Ім'я</label><br>
    <input type="text" id="name" name="name" value="{{form.name.value|default_if_none:""}}" class="form-control" placeholder="Тарас" {% if disable %}readonly{% endif %}><br>
    <input type="hidden" id="workplace_id" name="workplace_id" value="{{workplace_id}}">

    {% if access_key %}
      <input type="hidden" id="access_key" name="access_key" value="{{access_key}}">
    {% else %}
        <label for="access_key" class="form-label">Ключ доступу</label><br>
        <input type="text" id="access_key" name="access_key" value="{{form.access_key.value|default_if_none:""}}" class="form-control" placeholder="123456" {% if disable %}readonly{% endif %}><br>
    {% endif %}

    {% if proposed_users %}

      Можливо, ви помилились? Оберіть своє ім'я зі списку, якщо воно є тут:

      {% for puser in proposed_users %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="uid" id="proposedUser{{ puser.id }}" value="{{ puser.id }}">
          <label class="form-check-label" for="proposedUser{{ puser.id }}">
            {{ puser.last_name }} {{ puser.first_name }}
          </label>
        </div>
      {% endfor %}

      <div class="form-check">

        <input class="form-check-input" type="radio" name="uid" id="proposedUserNEW" value="0">
        <label class="form-check-label" for="proposedUserNEW">
          Ні, не знайшов себе в списку. Створити новий акаунт.
        </label>
      </div>

      <input type="hidden" id="username" name="username" value="__NEW__"><br>

    {% elif ask_new_account %}

      Створити новий акаунт з цими даними?

      <label for="email" class="form-label">Електронна пошта</label><br>
      <input type="email" id="email" name="email" value="{{form.email.value|default_if_none:""}}" class="form-control" placeholder="shevchenko@gmail.com"><br>

      <input type="hidden" id="uid" name="uid" value="0"><br>
      <input type="hidden" id="username" name="username" value="__CONFIRM__"><br>

      <a href="{% url 'index' %}" class="btn btn-secondary mb-3">Ні, повернутись назад</a>

    {% else %}
      <input type="hidden" id="username" name="username" value="{{form.username.value|default_if_none:""}}"><br>
      <input type="hidden" id="uid" name="uid" value="0"><br>
    {% endif %}

    <button type="submit" value="Submit" class="btn btn-success mb-3" onclick="changeLocation()">Увійти</button>
  </form>
</div>

<script>

  function changeLocation (){
    setTimeout(function(){
      window.location = "{% url 'logged_in' %}";
    },200);
  }

  $(function() {
    var surnames = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: "{% url 'search_users_ajax' %}",
        replace: function(url, query) {
          return url + "?surname=" + query;
        }
      }
    });

    $('.typeahead').typeahead({
              hint: true,
              minLength: 1,
              highlight: true},
            {name: 'names',
              display: 'surname',
              source: surnames.ttAdapter(),
            });

    $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
      $('#name').val(suggestion.name);
    });
  });

</script>
{% endblock %}
